/model_logs/*
/neuralgym_logs/*
/preprocessing/out/*
/preprocessing/checkpoint.txt
/preprocessing/not_detected.txt
/preprocessing/celeba_processed.flist
/training_checkpoints/*
/.ipynb_checkpoints/*
__pycache__/*